<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Restaurant updating</title>
</head>
<body style="padding: 20px 0;">
<div class="container">
    <div class="row">
        <form th:method="PATCH" th:action="@{/restaurants/{id}(id=${restaurant.getId()})}" th:object="${restaurant}" style="margin-top: 20px;">
            <!--input type="hidden" name="_method" value="patch"-->
            <div class="mb-3">
                <label for="name" class="form-label">Restaurant's name</label>
                <input th:field="*{name}" id="name" type="text" class="form-control" aria-describedby="emailHelp">
                <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>
            </div>
            <div class="mb-3">
                <label for="dishes" class="form-label">Dishes</label>
                <textarea th:field="*{dishes}" id="dishes" name="text" class="form-control" cols="30" rows="5"></textarea>
                <div style="color:red" th:if="${#fields.hasErrors('dishes')}" th:errors="*{dishes}">Dishes Error</div>
            </div>

            <button type="submit" class="btn btn-primary">Update</button>
        </form>
        <form th:method="DELETE" th:action="@{/restaurants/{id}(id=${restaurant.getId()})}" style="margin-top: 20px;">
            <!--input type="hidden" name="_method" value="delete"-->
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>
    </div>
</div>
</body>
</html>